<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dajjas.tapali">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_login"
            android:noHistory="true" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatInviteActivity"
            android:label="@string/title_activity_chat_invite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatChangeTitleActivity"
            android:label="@string/title_activity_chat_change_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsMenuActivity"
            android:label="@string/title_activity_settings_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateChatActivity"
            android:label="@string/title_activity_create_chat"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
